<section class="card">
  <div class = "row" id="card-heading">
    <div class="col-md" id="name">
        <a href="/post/{{id}}" id="home-post-title">{{title}}</a>
    </div>
    <div class="col-auto" id="date">
        <p>Posted by {{user.username}} on {{formatDate posted_date}}</p>
    </div>
  </div>
  <div class = "row" id="body">
    <h2>{{body}}</h2>
  </div>
</section>
<br>